*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 


header{
	 background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)) , url(img/IMG_8334.JPG) no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
      width: 100%;
      overflow: hidden;

}

/*NAV*/

nav ul li a{
	text-decoration: none;
	display: block;
	color: white;
	float: right;
	font-size: 1.35em;
	justify-content: space-between;
	padding: 1em;
	transition: 0.5s;
}

nav ul li a:hover{
	color: #333E70;
	background-color: white;
	font-size: 1.55em;
	transition: 0.3s;
	opacity: 60%;
}

nav ul li{
	padding-right: 3em;
	margin: 1em;
	text-decoration: none;
}

nav ul{
	list-style: none;
}

nav img{
	color: white;
	padding-left: 2em;
	height: auto;
	width: 45vh;
}


/*About*/

div.About{
	display: block;
	color: #333E70;
	padding: 3em;
	align-items: center;
	margin-left: 3em;
}

div.About p{
	display: flex;
}


div.About img.Aboutfoto{
	display: flex;
	float: right;
	height: auto;
	width: 50vh;
	padding-right: 5em;
	padding-top: 2em;
}

/* Fotos */

div.Foto{
	display: block;
	color: #333E70;
	align-items: center;
}

div.Foto{
	margin-left: 6em;
	margin-right: 3em;
	margin-top: 6em;
}

div.Foto img{
	height: auto;
	width: 30%;
	padding: .5em;
	display: inline-table;
	padding-bottom: 3em;
	opacity: 80%;
	transition: 1s;
}

div.Foto img:hover{
	opacity: 100%;
	width: 35%;
	transition: 1s;
}


/* Videos */


section.Videos{
	background-color: #333E70;
	padding: 3em;
	margin-bottom: 4em;
}



div.Animatie, div.Video{
	margin: 4em;
}


.videotext{
	color: White;
	margin-left: 3em;
}


/* FORUM */



div.Form{
	display: block;
	color: #333E70;
	padding: 3em;
	align-items: center;
	margin-left: 3em;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #333E70;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: darkcyan;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Contact */

div.Contact{
	display: flex;
	justify-content: space-between;
	background-color: #333E70;
	color: white;
	margin: 1em;
	margin-top: 3em;
	padding: 2em;
}

html{
	scroll-behavior: smooth;
}


/* media query */

@media (max-width: 820px){
	nav ul li a{
	text-decoration: none;
	display: block;
	color: white;
	float: center;
	font-size: 1.65em;
	justify-content: space-between;
	padding: 1em;
	transition: 0.5s;
	padding-right: 4em;
	padding-top: 2em;
}

	nav img{
	color: white;
	height: auto;
	width: 55vh;
	margin-left: 1.5em;
}

section div.About{
	margin-left: 2em;
}


section div.About img.Aboutfoto{
	height: 20vh;
	width: auto;
}

@media (max-width: 745px){

nav ul li a{
	text-decoration: none;
	display: flex;
	color: white;
	float: left;
	font-size: 2.1em;
	justify-content: space-between;
	padding: 0em;
	transition: 0.5s;
	padding-right: 1em;
	padding-top: 2em;
}

nav img{
	color: white;
	height: auto;
	width: 70%;
	margin-left: 2em;
	float: left;
	padding-top: 10em;
}

section.Videos{
	background-color: #333E70;
	padding: 2em;
	margin-bottom: 4em;
}


div.Foto img{
	height: auto;
	width: 20vh;
	display: inline-table;
	padding-bottom: 3em;
	opacity: 80%;
	transition: 1s;
}



iframe{
	height: 20vh;
	width: auto;
}

}


@media (max-width: 545px){

nav ul li a{
	text-decoration: none;
	display: flex;
	color: white;
	float: left;
	font-size: 1.45em;
	justify-content: space-between;
	padding: 0em;
	transition: 0.5s;
	padding-right: 1em;
	padding-top: 2em;
}

nav ul li a:hover{
	color: #333E70;
	background-color: white;
	font-size: 1.50em;
	transition: 0.3s;
	opacity: 60%;
	margin: 0.4em;
	padding: 1em;

}

nav img{
	color: white;
	height: auto;
	width: 60%;
	margin-left: 2em;
	float: left;
	padding-top: 11em;
}

section.Videos{
	background-color: #333E70;
	padding:1em;
	margin-bottom: 4em;
}


div.Foto img{
	height: auto;
	width: 20vh;
	display: inline-table;
	padding-bottom: 3em;
	opacity: 80%;
	transition: 1s;
}



iframe{
	height: 20vh;
	width: 30vh;
}

div .Contact{
	max-width: 10%;
}

.h4, h4 {
    font-size: 1rem;
}
}








@media (max-width: 545px){

nav ul li a{
	text-decoration: none;
	display: flex;
	color: white;
	float: left;
	font-size: 1.35em;
	justify-content: space-between;
	padding: 0em;
	transition: 0.5s;
	padding-right: .6em;
	padding-top: 2em;
}

nav img{
	color: white;
	height: auto;
	width: 50%;
	margin-left: 2em;
	float: left;
	padding-top: 15em;
}

div.Foto img{
	height: auto;
	width: 15vh;
	display: inline-table;
	padding-bottom: 3em;
	opacity: 80%;
	transition: 1s;
}

div .Contact{
	
	display: inline-block;
}

.h4, h4 {
    font-size: .7rem;
}

}
